@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff !important;
  padding: 0px !important;
  width: 100% !important;
  max-width: 100% !important;
}

em {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit !important;
  text-transform: none !important;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

h3.form_header {
  display: none;
}

p {
  margin-bottom: 24px;
  line-height: 1.4;
}

.en__button,
.en__field__element--calendar,
.en__field__element--checkbox,
.en__field__element--email,
.en__field__element--number,
.en__field__element--password,
.en__field__element--radio,
.en__field__element--range,
.en__field__element--rating,
.en__field__element--select,
.en__field__element--splitselect,
.en__field__element--splittext,
.en__field__element--telephone,
.en__field__element--text,
.en__field__element--textarea,
.en__field__element--tripleselect,
.en__field__element--tripletext,
.en__field__item {
  // display: block;
}

.en__component--column {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 0;
}

.en__component--row--2 .en__component--column {
  width: 100%;
}

.en_component--input-fields {
  .en__component--row--2 .en__component--column {
    width: auto !important;
  }
}

.en__field__input--select {
  width: 100%;
}

.en__field--checkbox .en__field__label--item {
  @media (max-width: 641px) {
    margin: 0;
  }
}

.en__field__input--select {
  min-width: 0;
  @media (min-width: 641px) {
    width: 258px;
  }
}

// .en__captcha, .en__field {
//   padding-bottom: 0;
// }

.en__component {
  position: relative;
  font-family: "proxima-nova", sans-serif;
}

.en__component--complete-heading {
  margin: 25px auto;
  text-align: center;
  padding: 0 25px;

  h1 {
    margin: 0;
  }

  .totalAmount {
    display: inline-block;
  }
}

.en__component--heading {
  color: #344857;
  // display: none !important;
  text-align: center;

  h1.desktop {
    display: none;
  }

  h1.responsive {
    display: block;
  }

  @media (min-width: 640px) {
    display: flex !important;

    h1.desktop {
      display: block;
    }
    h1.responsive {
      display: none;
    }
  }

  h1 {
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;

    strong {
      font-weight: bold !important;
    }
  }
}

input[type="text"],
input[type="number"],
input[type="email"] {
  background-color: #f7f7fa;
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 48px;
  // min-width: 240px;
  box-sizing: border-box;

  @media (max-width: 641px) {
    width: 100%;
  }
}

label.en__field__label {
  font-size: 14px;
  font-family: "proxima-nova", sans-serif;
  color: #344857;
}

select {
  height: 48px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  width: 100%;
  // @media (min-width: 641px) {
  //   min-width: 258px;
  //   max-width: 258px;
  // }
}

.en__field__helpText,
.en__field__label {
  padding: 6px 0;
}

.en__captcha,
.en__field {
  padding-bottom: 0 !important;
}

.en__component--row:not(.en__component--hero) {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
}

.en__component--row--2 {
  display: flex;
  @media (max-width: 640px) {
    flex-direction: column;
  }
  // flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.en__component--row--3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  max-width: 65rem;
  margin: 0 auto;
  padding: 10px !important;

  @media (min-width: 640px) {
    padding: 0 !important;
  }

  .en__component--column {
    position: static;
    flex: 1 0 auto;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    border-radius: 4px;
    overflow: hidden;
    width: auto !important;
    max-width: 100%;

    @media screen and (min-width: 640px) {
      width: calc(50% - 20px) !important;
      margin: 10px;
    }

    @media screen and (min-width: 840px) {
      flex: 0 1 auto;
      width: calc(33.33% - 20px) !important;
    }
  }
}

@media (max-width: 840px) {
  div.en__component--hero[style] {
    background: #418FDE !important;
  }
}

.en__component--hero-wrapper {
  background: #418FDE;
}

.en__component--hero {
  width: 100%;
  height: 100%;
  // min-height: 540px;
  max-width: 1500px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background: #b64815; //  url("/imgs/hero.8497d40aad9e402699451602f0cbdbe2.png");

  h1,
  h2 {
    color: #ffffff;
  }

  // @media (min-width: 840px) {
  //   background: #B64815 url("http://4site.wordpress.test/hero.png");
  //   background-repeat: no-repeat;
  //   background-position: right;
  //   background-size: contain;
  // }

  .en__component--hero-wrap-responsive {
    .en__component--button-cta {
      display: none;
    }
    @media (min-width: 840px) {
      display: none !important;
    }
  }

  .hero-content-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;

    .en__component--hero-logo {
      margin-right: 12px;
    }

    h1 {
      font-size: 25px;
      margin: 0;
    }

    h2 {
      font-size: 16px;
    }
  }

  &-wrap {
    display: none;
    @media (min-width: 840px) {
      display: flex;
      padding: 24px 70px 24px 24px;
    }
  }

  &-logo {
    align-self: flex-start;
    max-width: 117px;
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='117' height='118' viewBox='0 0 117 118' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M58.109 117.14C90.2017 117.14 116.218 90.9173 116.218 58.57C116.218 26.2227 90.2017 0 58.109 0C26.0163 0 0 26.2227 0 58.57C0 90.9173 26.0163 117.14 58.109 117.14Z' fill='white'/><path d='M29.4062 42.641H20.5592L11.5342 76.307H19.0102L22.6342 63.212L22.2342 64.937C27.2772 65.379 38.3342 65.468 39.9342 53.169C41.5282 41.27 29.4062 42.641 29.4062 42.641ZM30.2472 56.709C27.7252 59.098 24.0982 58.257 24.0982 58.257L25.1152 54.497L26.4862 49.497C27.0172 49.453 30.6442 49.055 31.6622 49.897C32.7682 50.782 31.9722 55.073 30.2462 56.71L30.2472 56.709Z' fill='%23418FDE'/><path d='M62.4974 45.207C61.9082 44.2655 61.0202 43.5489 59.9754 43.172C53.5614 41.09 48.2964 46.003 44.6244 50.736C40.8956 55.6996 38.7941 61.6955 38.6084 67.901C38.7854 71.573 39.6704 75.687 43.4304 77.147C49.5794 78.695 54.0924 73.475 57.4084 69.14C57.7624 68.521 58.3814 67.99 58.3814 67.282C58.1164 67.149 57.8944 66.928 57.5814 66.928C56.8957 67.9763 56.1266 68.9675 55.2814 69.892C53.1584 71.971 50.4594 73.608 47.3624 72.9C43.9564 71.352 43.8234 67.37 44.1334 63.92C44.287 62.5942 44.5837 61.2889 45.0184 60.027L47.3184 59.363C52.4054 57.682 58.4184 57.328 61.8284 52.196C62.9784 50.249 63.9074 47.33 62.4924 45.206L62.4974 45.207ZM51.1724 56.532C44.2274 58.788 45.9524 57.859 45.9524 57.859C45.9524 57.859 51.2604 42.021 56.6574 43.879C62.1434 45.737 58.1574 54.279 51.1714 56.531L51.1724 56.532Z' fill='%23418FDE'/><path d='M66.4351 42.774L88.6431 42.641L86.6971 49.896L79.4421 50.029L72.0531 76.307H63.9131L71.0351 49.985H64.3551L66.4351 42.774Z' fill='%23418FDE'/><path d='M95.1012 42.729L78.9102 76.263H87.2711L89.8372 70.733H97.3582V76.219L104.702 76.175V42.641L95.1022 42.729H95.1012ZM92.8452 64.096L97.2691 54.496L97.3132 54.363V64.096H92.8452Z' fill='%23418FDE'/></svg>");
  }

  &-content {
    color: #ffffff;
    margin: 10px 50px;
    width: auto;

    @media (min-width: 840px) {
      width: 50%;
    }

    button.en__component--button-cta {
      background: #fbe706;
      transition: background 0.2s ease-in-out;
      border: 0;
      padding: 20px 40px;
      border-radius: 4px;
      font-size: 17px;
      color: #b64815;
      font-weight: bold;
      margin-top: 24px;
      cursor: pointer;
    }

    button.en__component--button-cta:hover {
      transition: background 0.2s ease-in-out;
      background: lighten(#fbe706, 50%);
    }

    h1 {
      font-family: "Raleway", sans-serif;
      font-weight: 800;
      // font-size: 57px;
      font-size: 30px;
      color: #fbe706;
      margin-bottom: 20px;
    }

    h2 {
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 24px;
    }

    p {
      font-family: "proxima-nova", sans-serif;
      line-height: 26px;
      font-size: 18px;
      margin: 6px 0;
    }

    p.small-bold {
      font-size: 16px;
      font-weight: bold;
    }

    input {
      background-color:#F5BA37;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      margin-top: 10px;
      padding: 25px;
      cursor: pointer;
    }
  }

  &-image {
    display: flex;
    flex: 0 0 auto;
    img {
      max-height: 540px;
    }
  }
}

.en__component--selectAmount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8px;

  .amount {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin: 0 6px;
    width: 60px;
    text-align: center;
  }

  .increase,
  .decrease {
    // width: 30px;
    // height: 30px;
    cursor: pointer;
  }

  .decrease::before {
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='15' cy='15' r='14.5' stroke='%23344857'/><rect x='11' y='15' width='8' height='2' fill='%23344857'/></svg>");
  }

  .increase::before {
    line-height: 25px;
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='15' cy='15' r='14.5' stroke='%23344857'/><rect x='11' y='15' width='8' height='1' fill='%23344857'/><rect x='15.5' y='11.5' width='8' height='1' transform='rotate(90 15.5 11.5)' fill='%23344857'/></svg>");
  }
}

.en__component--carePackage {
  padding-top: 0;
}

.en__component--carePackage-content {
  background: #E5ECEF;
  color: #344857;
  // width: 100%;
  height: auto;
  margin: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  @media (min-width: 640px) {
    flex-direction: row;
  }

  .carePackage-total {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #344857; //#344857;
    color: #344857;
    border-radius: 4px;
    padding: 32px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;

    order: 2;
    margin: 24px 0;

    @media (min-width: 640px) {
      order: 2;
      max-width: 174px; //174px;
    }

    .totalAmount {
      font-family: "Raleway", sans-serif;
      font-weight: 800;
      font-size: 58px;
      display: flex;

      &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='11' height='22' fill='none' viewBox='0 0 11 22'><path fill='%23344857' d='M10.268 13.085c-.097-.338-.214-.632-.352-.881-.138-.25-.335-.494-.591-.732-.257-.238-.488-.43-.692-.576-.205-.146-.486-.309-.843-.49-.357-.18-.64-.314-.848-.403-.208-.088-.51-.209-.904-.363-.35-.138-.61-.243-.782-.316-.17-.073-.396-.177-.675-.311-.279-.135-.487-.254-.625-.357-.137-.104-.284-.23-.44-.38-.157-.15-.267-.31-.33-.479-.063-.169-.095-.353-.095-.553 0-.522.223-.948.67-1.278.446-.33 1.023-.496 1.73-.496.312 0 .63.044.954.133.324.088.6.188.831.3.231.11.449.234.654.368.204.134.35.236.435.305.085.07.14.115.162.138.097.077.197.104.301.081.112-.008.197-.07.257-.184l.904-1.682c.09-.154.07-.3-.056-.438-.044-.046-.1-.1-.167-.161-.067-.062-.212-.173-.436-.335-.223-.16-.46-.305-.708-.432-.25-.126-.573-.255-.972-.385-.397-.131-.809-.22-1.233-.265V.885c0-.108-.033-.196-.1-.265C6.25.55 6.164.516 6.06.516H4.553c-.096 0-.18.037-.25.11-.071.073-.107.159-.107.259v2.074c-1.168.23-2.117.744-2.846 1.543C.621 5.302.256 6.23.256 7.29c0 .315.032.615.095.899.063.284.142.54.235.766.093.227.225.45.396.668.171.22.333.407.485.565.153.157.352.32.597.49.246.168.456.305.631.408.175.104.408.223.698.357.29.135.519.236.686.306.168.069.396.165.687.287.401.162.7.287.893.375.193.088.439.211.736.369.298.157.515.301.653.432.138.13.262.292.374.484.112.191.168.395.168.61 0 .607-.23 1.075-.687 1.405-.457.33-.988.496-1.59.496-.275 0-.55-.03-.826-.092-.967-.2-1.871-.68-2.712-1.44l-.022-.023c-.067-.085-.157-.12-.268-.104-.12.015-.205.062-.257.139l-1.15 1.555c-.111.153-.104.31.023.472.037.046.102.116.195.208.093.092.266.236.52.432.252.196.527.38.825.553.298.173.675.343 1.133.512.458.17.932.288 1.423.357v2.017c0 .1.035.186.106.259.07.073.154.11.251.11h1.507c.104 0 .19-.035.257-.104.067-.07.1-.158.1-.265v-2.017c1.183-.2 2.145-.724 2.885-1.572.74-.849 1.11-1.86 1.11-3.036 0-.384-.048-.745-.146-1.083z'/></svg>");
      }
    }

    &::before {
      position: absolute;
      left: calc(50% - 15px);
      top: -10px;
      margin: 0 auto;
      content: url("data:image/svg+xml;charset=UTF-8, <svg width='30' height='27' viewBox='0 0 30 27' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M14.7595 21.6229L6.5 26.1553V9.5H23.5V26.1553L15.2405 21.6229L15 21.4909L14.7595 21.6229Z' stroke='%23344857'/><path d='M10.4796 3.25161C10.8119 3.82325 11.2488 4.55196 11.722 5.34117C12.5449 6.71372 13.4776 8.26928 14.1608 9.5H2.10794C1.55945 8.76231 0.902321 7.65888 0.628937 6.4365C0.335911 5.1263 0.482566 3.69345 1.68465 2.3781C4.4043 -0.597834 8.68544 0.165522 10.4796 3.25161Z' stroke='%23344857'/><path d='M19.5204 3.25161C19.1881 3.82325 18.7512 4.55196 18.278 5.34117C17.4551 6.71372 16.5224 8.26928 15.8392 9.5H27.8921C28.4406 8.76231 29.0977 7.65888 29.3711 6.4365C29.6641 5.1263 29.5174 3.69345 28.3154 2.3781C25.5957 -0.597834 21.3146 0.165522 19.5204 3.25161Z' stroke='%23344857'/></svg>");
    }
  }

  .carePackage-content {
    order: 2;

    @media (min-width: 640px) {
      margin: 0 50px;
      order: 2;
    }

    h1 {
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 12px;
    }

    label {
      font-size: 18px;
    }

    @import "_checkbox";
  }

  .carePackage-image {
    order: 3;

    display: block;
    @media (min-width: 640px) {
      display: none;
    }
    @media (min-width: 840px) {
      display: block;
    }
  }
}

.donationCard {
  img {
    display: none;
  }
  .en__component--donationAmount {
    display: none;
  }

  @media (min-width: 640px) {
    img {
      display: block;
    }
    .en__component--donationAmount {
      display: block;
    }
  }
}

.en__component--wrap {
  height: 100%;
  background-color: #E5ECEF;
}

.en__component--customAmount {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #418FDE;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;

  // @media (min-width: 688px) {
  //   width: calc(50% - 10px);
  // }

  @media (min-width: 840px) {
    width: auto;
  }

  .en__component--content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .en__component--customDonationAmount-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: auto;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .en__component--customDonationAmount {
    display: flex;
    flex-direction: row;
    flex: 0;
    background: #ffffff;
    color: #344857;
    padding: 0 16px;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }

    input {
      height: 50px;
      margin: 0 14px;
      border: 0;
      width: auto;
      max-width: 105px;
      font-size: 16px;
      font-family: ProximaNova, sans-serif;
      color: #344857;
      background-color: #ffffff;
      min-width: auto;
    }

    .en__component--usd {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
    }

    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='11' height='22' fill='none' viewBox='0 0 11 22'><path fill='%23344857' d='M10.268 13.085c-.097-.338-.214-.632-.352-.881-.138-.25-.335-.494-.591-.732-.257-.238-.488-.43-.692-.576-.205-.146-.486-.309-.843-.49-.357-.18-.64-.314-.848-.403-.208-.088-.51-.209-.904-.363-.35-.138-.61-.243-.782-.316-.17-.073-.396-.177-.675-.311-.279-.135-.487-.254-.625-.357-.137-.104-.284-.23-.44-.38-.157-.15-.267-.31-.33-.479-.063-.169-.095-.353-.095-.553 0-.522.223-.948.67-1.278.446-.33 1.023-.496 1.73-.496.312 0 .63.044.954.133.324.088.6.188.831.3.231.11.449.234.654.368.204.134.35.236.435.305.085.07.14.115.162.138.097.077.197.104.301.081.112-.008.197-.07.257-.184l.904-1.682c.09-.154.07-.3-.056-.438-.044-.046-.1-.1-.167-.161-.067-.062-.212-.173-.436-.335-.223-.16-.46-.305-.708-.432-.25-.126-.573-.255-.972-.385-.397-.131-.809-.22-1.233-.265V.885c0-.108-.033-.196-.1-.265C6.25.55 6.164.516 6.06.516H4.553c-.096 0-.18.037-.25.11-.071.073-.107.159-.107.259v2.074c-1.168.23-2.117.744-2.846 1.543C.621 5.302.256 6.23.256 7.29c0 .315.032.615.095.899.063.284.142.54.235.766.093.227.225.45.396.668.171.22.333.407.485.565.153.157.352.32.597.49.246.168.456.305.631.408.175.104.408.223.698.357.29.135.519.236.686.306.168.069.396.165.687.287.401.162.7.287.893.375.193.088.439.211.736.369.298.157.515.301.653.432.138.13.262.292.374.484.112.191.168.395.168.61 0 .607-.23 1.075-.687 1.405-.457.33-.988.496-1.59.496-.275 0-.55-.03-.826-.092-.967-.2-1.871-.68-2.712-1.44l-.022-.023c-.067-.085-.157-.12-.268-.104-.12.015-.205.062-.257.139l-1.15 1.555c-.111.153-.104.31.023.472.037.046.102.116.195.208.093.092.266.236.52.432.252.196.527.38.825.553.298.173.675.343 1.133.512.458.17.932.288 1.423.357v2.017c0 .1.035.186.106.259.07.073.154.11.251.11h1.507c.104 0 .19-.035.257-.104.067-.07.1-.158.1-.265v-2.017c1.183-.2 2.145-.724 2.885-1.572.74-.849 1.11-1.86 1.11-3.036 0-.384-.048-.745-.146-1.083z'/></svg>");
    }
  }

  .en__component--content h1 {
    font-size: 34px;
    color: #ffffff !important;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 32px;
    text-align: center;
    // padding: 48px;
  }

  img {
    position: relative;
    bottom: 0;

    // @media (min-width: 840px) {
    //   position: absolute;
    // }
  }
}

.en__component--content {
  padding: 30px 20px;
  color: #344857;
  box-sizing: border-box;
  text-align: center;
  font-size: 22px;
  font-family: "proxima-nova", sans-serif;
  z-index: 10;

  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 12px;
  }

  .en__component--quantity {
    font-family: "proxima-nova", sans-serif;
    font-size: 16px;
    margin-top: 6px;
  }
}

.en__component--donationAmount.urgent {
  background: #e93f23;

  &::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -21px;
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M7.0785 26.8322C6.09771 28.3463 6.29299 29.9669 8.17637 31.187C10.0413 32.395 11.5941 31.9199 12.5869 30.3874L14.9791 26.6945L13.6496 25.8333L11.2814 29.4892C10.7252 30.3478 9.87159 30.6337 8.92991 30.0237C7.96975 29.4017 7.88166 28.5059 8.43785 27.6473L10.8061 23.9913L9.47668 23.1301L7.0785 26.8322Z' fill='white'/><path d='M17.709 35.5481L19.3998 36.1446L18.7734 32.9608C19.5825 33.048 20.5807 32.6653 21.0125 31.4412C21.4663 30.1549 20.9176 28.8999 19.4757 28.3912L16.2392 27.2493L13.7982 34.1684L15.2712 34.688L16.1459 32.2088L17.2247 32.5894L17.709 35.5481ZM19.512 30.9002C19.3071 31.4811 18.7293 31.6972 18.138 31.4886L16.5924 30.9433L17.2658 29.0346L18.8114 29.5799C19.4027 29.7885 19.717 30.3193 19.512 30.9002Z' fill='white'/><path d='M21.7453 34.0483C21.5097 36.3463 23.108 38.0139 25.2418 38.2327C26.5659 38.3684 27.6615 37.9278 28.4908 37.1724L28.7769 34.3821L25.2971 34.0254L25.1603 35.3604L27.1081 35.56L27.0172 36.4464C26.6707 36.6984 26.0518 36.9114 25.3843 36.8429C24.0602 36.7072 23.2016 35.5908 23.3429 34.2121C23.4842 32.8333 24.5515 31.9143 25.8755 32.0501C26.6415 32.1286 27.2238 32.5974 27.5103 33.1465L28.8733 32.5785C28.4038 31.6568 27.527 30.8261 26.0169 30.6713C23.8831 30.4526 21.9819 31.7394 21.7453 34.0483Z' fill='white'/><path d='M31.6885 38.2188L36.8336 37.5226L36.6521 36.1818L33.0549 36.6686L32.8263 34.979L36.3472 34.5025L36.1672 33.1726L32.6463 33.6491L32.4324 32.0685L36.0297 31.5817L35.8497 30.2518L30.7046 30.9481L31.6885 38.2188Z' fill='white'/><path d='M45.1975 35.0224L46.6033 34.4795L43.9599 27.6352L42.5028 28.198L44.2149 32.6308L39.3321 29.4226L37.834 30.0012L40.4773 36.8454L41.9344 36.2827L40.159 31.6856L45.1975 35.0224Z' fill='white'/><path d='M51.4205 31.5104L52.715 30.6167L49.3277 25.7103L51.0839 24.4979L50.3027 23.3664L45.4869 26.6911L46.2681 27.8227L48.0333 26.604L51.4205 31.5104Z' fill='white'/></svg>");
  }
}

.en__component--donationAmount {
  position: absolute;
  margin: 6px 0 0 6px;
  background: #F5BA37;
  color: #ffffff;
  padding: 24px 4px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Raleway", sans-serif;

  &::before {
    position: relative;
    top: -4px;
    margin-right: 2px;
    content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='8' height='16' fill='none' viewBox='0 0 8 16'><path fill='%23fff' d='M7.888 9.74c-.075-.26-.165-.489-.27-.682-.106-.193-.257-.382-.455-.567-.197-.185-.374-.333-.531-.446-.157-.113-.373-.24-.648-.38-.274-.14-.491-.244-.651-.312-.16-.069-.392-.163-.695-.282-.268-.107-.468-.189-.6-.245-.131-.057-.304-.137-.519-.241-.214-.104-.374-.197-.48-.277-.106-.08-.218-.178-.338-.295-.12-.116-.205-.24-.253-.37-.049-.131-.073-.274-.073-.429 0-.404.171-.735.514-.99.343-.257.786-.385 1.33-.385.24 0 .484.035.732.103.249.069.462.146.639.232.177.087.344.182.502.286.157.104.268.183.334.237.066.053.107.089.124.107.075.06.152.08.232.062.086-.006.151-.053.197-.143l.695-1.303c.068-.12.054-.232-.043-.34-.034-.035-.077-.077-.129-.125-.051-.047-.163-.133-.334-.259-.172-.125-.353-.236-.545-.334-.191-.098-.44-.198-.746-.3-.305-.1-.621-.17-.947-.205V.286c0-.084-.026-.152-.077-.206C4.8.027 4.736 0 4.655 0H3.498c-.074 0-.139.028-.193.085-.054.056-.081.123-.081.2v1.608c-.898.178-1.627.577-2.187 1.196-.56.62-.84 1.34-.84 2.161 0 .244.024.476.073.696.048.22.108.419.18.594.071.176.173.348.304.518.132.17.256.316.373.438.117.121.27.248.459.379s.35.237.484.317c.135.08.313.173.536.277.223.104.4.183.528.236l.527.223c.309.125.537.222.686.29.149.069.337.164.566.286.229.122.396.234.502.335.105.101.201.226.287.375.086.149.129.307.129.473 0 .47-.176.834-.528 1.09-.351.255-.759.383-1.222.383-.211 0-.423-.023-.634-.07-.743-.156-1.438-.528-2.083-1.117l-.018-.018c-.051-.065-.12-.092-.205-.08-.092.012-.158.047-.198.107L.06 12.187c-.085.12-.08.241.017.366.03.036.08.09.15.161.072.072.205.183.4.335.194.152.405.295.634.429.228.134.518.266.87.397.352.13.716.223 1.093.277v1.562c0 .078.027.145.082.201.054.057.118.085.193.085h1.157c.08 0 .146-.027.197-.08.052-.054.077-.122.077-.206v-1.562c.91-.155 1.648-.561 2.217-1.219.569-.658.853-1.442.853-2.353 0-.297-.037-.577-.112-.84z'/></svg>");
  }
}

.en__component--slider-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 12px;
}

.en__component--slider {
  width: 100%;
  margin: 5px 30px;

  input {
    width: 100%;
  }

  .bubble {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #000000;
    color: white;
    padding: 4px 12px;
  }
  .bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: #000000;
    bottom: -1px;
    left: 50%;
  }
}

.tooltip-value {
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
}

.tooltip-value--zero {
  text-transform: uppercase;
  font-weight: 800;
}

.en__submit {
  display: flex;
  margin: 50px auto;
  button {
    background: #418FDE;
    padding: 20px 40px;
    border-radius: 4px;
    color: #ffffff;
    border: 0;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
  }
}

// .en__component--row--1:last-child {
//   // padding-top: 50px;
// }

// .en__component--footer {
//   display: flex;
//   background: rgba(255, 240, 202, 0.24);
//   box-sizing: border-box;
//   color: #999999;
//   font-family: "proxima-nova", sans-serif;
//   font-size: 12px;

//   .en__component--footer-wrap {
//     display: flex;
//     flex-direction: row;
//     max-width: 65rem;
//     margin: 40px auto;
//   }

//   .footer-logo {
//     width: 75px;
//     margin-right: 75px;
//   }

//   .en__component--footer-column {
//     display: flex;
//     // width: 50%;
//   }
// }

// .en__component--column--1, .en__component--column--2 {
//   // display: flex;
//   // flex-direction: column;
//   // width: 50%;

//   // .en__field {
//   //   display: flex;
//   //   flex-direction: column;
//   // }
// }

.en__component--input-fields {
  padding: 10px 10px 50px 10px;
  .en__component--column--1 {
    display: flex;
    flex: 1 1 auto;

    @media (min-width: 641px) {
      align-items: flex-start;
      align-content: flex-start;
      max-width: 60%;
    }
  }
  .en__component--column--2 {
    display: flex;
    flex: 1 1 20%;
    flex-direction: column;
  }
  .en__field:not(.en__hidden) {
    display: flex;
    flex-direction: column;
  }
  .en__field--emailAddress {
    width: 100%;
    @media (min-width: 641px) {
      max-width: 258px;
    }
    @media (min-width: 921px) {
      max-width: 528px;
    }

    input {
      width: 100%;
    }
  }
}

.email--signup {
  order: 10;
  .en__component--formblock {
    display: flex;
    flex-direction: column;

    .en__field {
      display: flex;
      flex-direction: row-reverse;
      align-self: flex-start;
    }
  }
}

.en__component--input-fields {
  .en__component--column--1 {
    @media (min-width: 641px) {
      margin-left: 10px;
    }

    flex-basis: 100%;
    flex: 2;
    // flex: 0 1 auto;
    // width: auto;
    @media (min-width: 966px) {
      // flex: 1 0 55%;
      // width: 50%;
    }
  }

  .en__donation--billing--info {
    @media (min-width: 641px) {
      border-right: 1px solid #d7dadd;
    }
  }

  .en__column--cc {
    @media (min-width: 641px) {
      margin-left: 10px;
    }
    flex-basis: 100%;
    flex: 1;
  }
}

.en__donation--billing--info {
  @media (max-width: 641px) {
    flex-direction: column;
  }
  display: flex;
  flex-wrap: wrap;

  .en__field {
    @media (min-width: 641px) {
      margin: 0 12px 12px 0;
    }
  }
}

.en__column--cc {
  @media (min-width: 641px) {
    padding: 0 0 0 30px;
  }

  @media (min-width: 680px) {
    padding: 0 0 0 50px;
  }

  select#en__field_transaction_paymenttype {
    width: 100%;
    max-width: none;
    min-width: 0;
  }

  input#en__field_transaction_ccnumber {
    width: 100%;
    max-width: none;
    min-width: 0;
  }

  .en__field {
    margin-bottom: 12px;
  }
}

.cc__icons {
  margin-bottom: 16px;
  ul {
    display: flex;
    flex-direction: row;

    li {
      margin-right: 6px;
    }
  }
}

.en__field--ccexpire {
  .en__field__element--splitselect {
    display: flex;
    .en__field__item {
      width: 50%;
      select {
        width: 100%;
      }
    }
  }
}

.en__field--ccwrap {
  display: flex;
  flex-wrap: wrap;

  input {
    margin-right: 12px;
  }

  select {
    max-width: none;
    min-width: 0;
  }

  .en__field__element--splitselect {
    .en__field__item:not(:last-child) {
      margin: 0 12px 12px 0;
    }
  }

  input[type="number"],
  input[type="text"],
  input[type="email"] {
    min-width: 0;
  }

  .en__field--ccvv {
    width: 115px;
    margin-right: 12px;

    .en__field__element--text {
      position: relative;
    }

    input {
      width: 100% !important;
    }

    .ccvv__link {
      position: absolute;
      top: -25px;
      right: 0;
    }
  }

  .en__field__item {
    padding: 0;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='8' height='6' fill='none' viewBox='0 0 8 6'><path fill='%238A8A8A' d='M0 0l4 6 4-6H0z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding: 16px;
}

.en__errorHeader {
  background: #e93f23;
  color: #ffffff !important;
  padding: 16px !important;
  margin: 0 10px 10px 10px;
  border-radius: 4px;
}

.en__error {
  padding-left: 16px;
  margin: 0 10px 0 10px !important;
}

/* These fields should not be visible */
body:not(#en__pagebuilder)
  .en__component--input-fields
  .en__field.en__field--bankRoutingNumber,
body:not(#en__pagebuilder)
  .en__component--input-fields
  .en__field.en__field--bankAccountNumber,
body:not(#en__pagebuilder)
  .en__component--input-fields
  .en__field.en__field--NOT_TAGGED_60,
body:not(#en__pagebuilder)
  .en__component--input-fields
  .en__field.en__field--bankAccountType,
body:not(#en__pagebuilder)
  .en__component--input-fields
  .en__field.en__field--NOT_TAGGED_99 {
  display: none;
}

.en__field__error {
  order: 1;
}

.en__donation--billing--info
  .en__field--emailAddress
  .en__field__element::after {
  width: 100%;
}

.en__field--firstName {
  order: 1;
}

.en__field--lastName {
  order: 2;
}

.en__field--address1 {
  order: 3;
}

.en__field--address2 {
  order: 4;
}

.en__field--country {
  order: 5;
}

.en__field--postcode {
  order: 6;
}

.en__field--city {
  order: 7;
}

.en__field--region {
  order: 8;
}

.en__field--emailAddress {
  order: 9;
}

.smaller_text p {
  padding: 20px;
}
